.container {
  width: 120px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
  background-color: rgba(2, 49, 20, 0.74); 
}

.cardImage {
  width: 60px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

.title {
  height: 70px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.continent {
  height: 30px;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

button:hover {
  background-color: #0056b3;
}

@media (min-width: 480px){

  .container {
    width: 140px;
    height: 220px;
   
  }
  
  .cardImage {
    width: 80px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .title {
    height: 80px;
    font-size: 1.1rem;
  }
  
  .continent {
    height: 30px;
    font-size: 0.9rem;
    font-style: italic;
  }

}

@media (min-width: 760px){

  .container {
    width: 150px;
    height: 260px;
    
  }
  
  .cardImage {
    width: 100px;
    height: 60px;
   
  }
  
  .title {
    height: 100px;
    font-size: 1.2rem;
  
  }
  
  .continent {
    height: 30px;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
}

@media (min-width: 960px){
  .container {
    width: 180px;
    height: 280px;
    margin: 10px;
  
  }
  
  .cardImage {
    width: 100px;
    height: 70px;
  
  }
  
  .title {
    height: 90px;
    font-size: 1.4rem;

  }
  
  .continent {
    height: 30px;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}